[submodule "src/data/recipes/add-a-play-to-topshot-set"]
	path = src/data/recipes/add-a-play-to-topshot-set
	url = https://github.com/lealobanov/add-a-play-to-topshot-set
[submodule "src/data/recipes/mint-nft"]
	path = src/data/recipes/mint-nft
	url = https://github.com/lealobanov/mint-nft
[submodule "src/data/recipes/collection-for-holding-nfts"]
	path = src/data/recipes/collection-for-holding-nfts
	url = https://github.com/lealobanov/collection-for-holding-nfts
[submodule "src/data/recipes/creating-collection-for-account"]
	path = src/data/recipes/creating-collection-for-account
	url = https://github.com/lealobanov/creating-collection-for-account
[submodule "src/data/recipes/nft-with-metadata"]
	path = src/data/recipes/nft-with-metadata
	url = https://github.com/lealobanov/nft-with-metadata
[submodule "src/data/recipes/metadata-views"]
	path = src/data/recipes/metadata-views
	url = https://github.com/lealobanov/metadata-views
[submodule "src/data/recipes/multiple-metadata-views"]
	path = src/data/recipes/multiple-metadata-views
	url = https://github.com/lealobanov/multiple-metadata-views
[submodule "src/data/recipes/token-vault"]
	path = src/data/recipes/token-vault
	url = https://github.com/lealobanov/token-vault
[submodule "src/data/recipes/withdrawing-tokens"]
	path = src/data/recipes/withdrawing-tokens
	url = https://github.com/lealobanov/withdrawing-tokens
[submodule "src/data/recipes/creating-a-vault"]
	path = src/data/recipes/creating-a-vault
	url = https://github.com/lealobanov/creating-a-vault
[submodule "src/data/recipes/vault-minter"]
	path = src/data/recipes/vault-minter
	url = https://github.com/lealobanov/vault-minter
