name: Run Cadence tests
on: push

jobs:
  get-recipe-repos:
    runs-on: macos-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Dynamically retrieve matrix
        id: set-matrix      
        run: echo "::set-output name=matrix::$(ls -d src/data/recipes/* | jq -R -s -c 'split("\n")[:-1]' )"
  run-cadence-tests:
    needs: get-recipe-repos
    runs-on: macos-latest
    strategy:
        matrix:
            recipe: ${{ fromJson(needs.get-recipe-repos.outputs.matrix) }}
    steps:
       - name: Set env
         env:
            RECIPE_REPO: "${{ matrix.recipe }}"
         run: |
            RECIPE_REPO=${{ env.RECIPE_REPO }}
            RECIPE_REPO=${RECIPE_REPO//:} # replace all colons
            echo RECIPE_REPO=${RECIPE_REPO} >> $GITHUB_ENV # update GitHub ENV vars
       - name: Check out repository code
         uses: actions/checkout@v4
         with:
          submodules: 'true'
       - name: Install Flow CLI
         run: |
           cd ${{ env.RECIPE_REPO }}
           brew update
           brew install flow-cli

       - name: Start Flow Emulator
         run: |
          cd ${{ env.RECIPE_REPO }}
          if test -f "flow.json"; then
            flow dependencies install
            echo "Starting Flow emulator in the background..."
            nohup flow emulator start > emulator.log 2>&1 &
            sleep 5 # Wait for the emulator to start
            flow project deploy --network=emulator # Deploy the recipe contracts indicated in flow.json  
          else
            echo "No flow.json found."
          fi 

       - name: Run Cadence Lint
         run: |
          cd ${{ env.RECIPE_REPO }}
          if test -f "flow.json"; then
           echo "Running Cadence linter on .cdc files in the current repository"
           flow cadence lint ./cadence/**/*.cdc    
          else
           echo "No flow.json found."
          fi 

       - name: Trigger recipe tests
         run: |
          cd ${{ env.RECIPE_REPO }}
          if test -f "cadence/tests.cdc"; then
            echo "Running Cadence tests in the current repository"
            flow test cadence/tests.cdc
          else
            echo "No Cadence tests found. Skipping tests."
          fi

   


